body {text-align: center;
background-color: lightskyblue;
color: rgb(0, 0, 0);
column-count: 2;
font-family: Times New Roman;}

img.displayed {display: block;
margin-left: auto;
margin-right: auto;}

#title {font-family: Berlin Sans FB !important;
font-size: 72pt !important;}

#mpbody {column-count: 1 !important;}

.references {font-family: Algerian;
font-size: 150%;}

.ptitle {font-family: Bradley Hand ITC;
font-size: 36pt;}

nav {
	margin: 10px 300pt 10px 300pt;
	padding: 5px;
	border: 4px solid grey;
	font: 16pt Arial, sans-serif;
	display: flex;
	justify-content: space-between;
}

nav a {display: block;}
nav a:link, nav a:visited {
	color: blue;
	background-color: white;
	text-decoration: none;
}

nav a:active, nav a:hover {
	color: white;
	background-color: blue;
	text-decoration: none;
}

nav div {
	color: white;
	background-color: grey;
}